button:hover {
	background-color: #FFFFFF;
	color: #000000;
}

button:active {
	background-color: #FFFFFF;
	color: #000000;
}

button:visited {
	background-color: #000000;
	color: #000000;
}

#banner {
	width: 100%;
	height: 180px;
	background: black;
	border: 1px solid #FFFFFF;
	position: fixed;
}

#banner > img {
	display: block;
	margin: 0 auto;
	position: center;
}

#bar {
	display: flex;
}

#navButtons {
	top: 190px;
	vertical-align: top;
	width: 80%;
	position: fixed;
}

.barButton {
	width: 24.9%;
	height: 30px;
	border: 1px solid #FFFFFF;
	background-color: #000000;
	color: #FFFFFF;
	font-family: Helvetica;
	outline: none;
}

#searchField {
	position: fixed;
	width: 20%;
	top: 190px;
	right: 0;
}

#search {
	width: 79%;
	height: 28px;
	font-size: 11pt;
	background-color: #FFFFFF;
	border: 1px solid #000000;
	outline: none;
	margin-top: 1px;
	margin-left: 4px;
}

#submitSearch {
	vertical-align: top;
	width: 19%;
	height: 30px;
	background-color: #000000;
	border: 1px solid #FFFFFF;
	color: #FFFFFF;
	margin-left: 1px;
	font-family: Helvetica;
}

