p {
	display: inline-block;
}

div#remove {
	width: auto;
	height: auto;
	background-color: blue;
}

#remove > button {
	width: 80px;
	height: 80px;
}

#container {
	width: 100%;
	height: 100%;
	top: 220px;
}

#friendList {
	width: 100%;
	height: auto;
	min-height: 45px;
}

.friendName {
	width: 45%;
	height: 40px;
}

.date {
	width: 35%;
	height: 40px;
}

.unfriendButton {
	width: 30px;
	height: 30px;
}