#content ul li.openPositionCell div {
	width: 12.5%;
	height: auto;
	display: inline-block;
	margin: 0 auto;
	padding: 0;
	text-align: center;
	vertical-align: middle;
	font-size: 16px;
	text-align: center;
}

#content ul li div p {
	display: block;
	vertical-align: middle;
	margin: 0 auto;
}

#content ul li div p:first-child {
	font-weight: bold;
}

#content ul li {
	width: 100%;
	height: auto;
	font-size: 0;
	border: 2px groove #69E071;
}

#content ul {
	margin: 0;
	padding: 0;
	width: 100%;
	height: auto;
	list-style-type: none;
}

.pic {
	height: 70px;
	width: 70px;
	margin-top: 4px;
}

.applyButton {
	width: 150px;
	height: 80px;
	margin: 0 auto;
	background-color: #69E071;
	border: 1px solid #F7DCBE;
}