#content {
	width: 100%;
	height: auto;
	margin-top: 235px;
}

#contentHead {
	display: block;
	height: auto;
	margin: 0 auto;
	padding: 0;
}

#contentHead p {
	margin: 0 auto;
	display: inline-block;
	vertical-align: middle;
	font-family: Helvetica;
	font-size: 50px;
	margin-left: 50px;
}

#contentHead > img {
	display: inline-block;
	width: 198px;
	height: 200px;
	vertical-align: middle;
	border: 2px solid #69E071;
}



#editInfo, #addPosition, #applications, #showPositions, #editProfile {
	width: 150px;
	height: 45px;
	position: absolute;
	right: 10px;
	background-color: #69E071;
	border: 1px solid #69E071;
	color: #FAF1E8;
	display: inline-block;
}

#editProfile {
	top: 300px;
}

#editInfo {
	top: 230px;
}

#addPosition {
	top: 282px;
}

#applications {
	top: 334px;
}

#showPositions {
	top: 386px;
}

#contentFoot {
	width: 100%;
	height: auto;
	display: table;
	font-size: 0;
	margin-top: 5px;
}

#contentFoot p {
	margin-left: 4px;
}

#detailSubject {
	width: 5%;
	height: auto;
	display: table-cell;
	font-weight: bold;
	font-family: Helvetica;
	font-size: 12px;
	vertical-align: middle;
	border-top: 2px solid #69E071;
	border-bottom: 2px solid #69E071;
	border-left: 2px solid #69E071;
}

#detailInfo {
	display: table-cell;
	width: 15%;
	height: auto;
	font-family: Helvetica;
	font-size: 12px;
	vertical-align: middle;
	border-top: 2px solid #69E071;
	border-bottom: 2px solid #69E071;
	border-right: 2px solid #69E071;
}

#description {
	width: 60%;
	height: 100%;
	display: table-cell;
	border-top: 2px solid #69E071;
	border-bottom: 2px solid #69E071;
	border-right: 2px solid #69E071;
}

#description p {
	font-size: 14px;
	font-family: Helvetica;
}

#description p:first-child {
	font-weight: bold;
	font-family: Helvetica;
	font-size: 18px;
	margin-top: 4px;
	margin-left: 4px;
	margin-bottom: 0px;
}

#description p:last-child {
	margin-top: 3px;
}