#container{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 220px;
	border: solid 1px black;
	z-index: -1;
}
#profilePicture{
	position: absolute;
	width: 120px;
	height: 120px;
	left: 100px;
	top: 100px;
	border: solid 1px black;
	background-size: 100%;
}
#userPicture{	
	margin:auto;
	display:block;
}
#profileName{
	position: absolute;
	width: 600px;
	height: 50px;
	left: 225px;
	top: 170px;
	border: solid 1px black;
}
#profileText{
	font-size: 30px;
	margin:auto;
}
#descriptionContainer{
	position: absolute;
	width: 650px;
	height: 270px;
	top: 260px;
	left: 440px;
	border: solid 1px black;
}
#infoContainer{
	position: absolute;
	width: 320px;
	height: 270px;
	top: 260px;
	left: 100px;
	border: solid 1px black;
}
#infoTitles{
	position: absolute;
	width: 78px;
	margin: 0 auto;

}
#infoText{
	position: absolute;
	left: 90px;
	width: 220px;
	margin: 0 auto;

}
p.infoTitle{
	font-weight: bold;
	font-size: 15px;

}
p.infoText{
	font-size: 15px;
}
